@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  overflow: auto;
}

.markdown-preview {
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.markdown-preview pre {
  background-color: #f3f4f6;
  padding: 0.5rem;
  border-radius: 0.25rem;
  overflow: auto;
}
